@font-face {
  font-family: myNeonFont;
  src: url("../src/cafe.ttf") format("truetype");
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

a:hover, a:active {
  text-decoration: none;
  color: #e4cde4;
}

.menuButton {
  background-color: transparent;
  color: #e4cde4;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1050;
  width: 100%;
  height: 100%;
  top: 0;
}

.modal .modal-content {
  width: 80%;
  margin: auto;
  margin-top: 8rem;
  background-color: #e4cde4;
}

.modal .modal-content .menuModalDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
}

.modal .modal-content .menuModalDiv .menuModalButtonDiv {
  background-color: #e4cde4;
}

@media screen and (min-width: 650px) {
  .menuModalButton {
    background-color: #585858;
    border: none;
    color: #e4cde4;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    font-family: myNeonFont;
    width: 5rem;
    height: 3rem;
    font-size: 1.8rem;
  }
  .menuModalButton:hover {
    color: #4e4e4e;
    background-color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #e4cde4;
            box-shadow: 0px 0px 6px 6px #e4cde4;
  }
  .modal-dialog {
    max-width: 1600px;
    margin-top: 1.75rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .menu-list-item {
    display: -ms-grid;
    display: grid;
    margin-bottom: 20px;
  }
  .menu-list-item .menu-itemName {
    color: #4e4e4e;
    background-color: #e4cde4;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 10;
    font-size: 2.8rem;
    font-family: myNeonFont;
  }
  .menu-list-item .menu-itemDesc {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 10;
    text-align: center;
    color: #4e4e4e;
    background-color: #e4cde4;
    font-size: 1.8rem;
    font-family: myNeonFont;
  }
  .menu-list-item .menu-itemPrice {
    display: -ms-grid;
    display: grid;
    color: #4e4e4e;
    background-color: #e4cde4;
    -ms-grid-column: 11;
        grid-column-start: 11;
    grid-column-end: 12;
    text-align: center;
    font-size: 2rem;
    font-family: myNeonFont;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 5px;
  }
}

.PrimaryMenuModal .PrimaryMenuModalContainer {
  margin-top: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  background-color: #e4cde4;
}

.PrimaryMenuModal .PrimaryMenuModalContainer .menuModalButtonDiv {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-color: #e4cde4;
}

.PrimaryMenuModal .PrimaryMenuModalContainer .starterSection {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.PrimaryMenuModal .PrimaryMenuModalContainer .mainSection {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

.PrimaryMenuModal .PrimaryMenuModalContainer .dessertSection {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
}

@media screen and (max-width: 649px) {
  .menuModalButton {
    font-size: 2.1rem;
    width: 15vw;
    margin-left: 0px;
  }
  .modal-dialog {
    margin-top: 1.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: myNeonFont;
  }
  .menu-itemName {
    color: #4e4e4e;
    background-color: #e4cde4;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 10;
    font-size: 2rem;
    font-family: myNeonFont;
  }
  .menu-itemDesc {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 10;
    text-align: left;
    color: #4e4e4e;
    background-color: #e4cde4;
    font-size: 1.2rem;
    font-family: myNeonFont;
  }
  .menu-itemPrice {
    display: -ms-grid;
    display: grid;
    color: #4e4e4e;
    background-color: #e4cde4;
    -ms-grid-column: 11;
        grid-column-start: 11;
    grid-column-end: 12;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 1.4rem;
    font-family: myNeonFont;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .menuModalButton {
    background-color: #4e4e4e;
    color: #e4cde4;
    font-size: 4.4vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    padding-top: -30px;
    padding-bottom: -3px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .menu-list-item {
    color: #4e4e4e;
    background-color: #e4cde4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
    -ms-grid-rows: (4vw)[5];
        grid-template-rows: repeat(5, 4vw);
    font-family: "Andale Mono";
  }
  .modal-content {
    width: 100%;
    margin: auto;
  }
}
/*# sourceMappingURL=App.css.map */