$siteWhite: rgb(228, 205, 228);
$siteWhite2: rgb(199, 184, 199);
$siteWhiteBright:  rgb(255, 240, 255);
$siteContrast: rgb(78, 78, 78);
$siteContrast2: rgb(88, 88, 88);



@font-face {
    font-family: myNeonFont;
    src: url("../src/cafe.ttf") format("truetype");
}

$roboFont: "Andale Mono";


.fade-enter{
    opacity: 0.01;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}


.fade-exit{
    opacity: 1;
    
}

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 500ms ease-out;
    
}

a:hover, a:active { text-decoration: none; color:$siteWhite }

.menuButton{
    background-color: transparent;
    color: $siteWhite;
}





.modal{
    display: flex;
    position: fixed;
    z-index: 1050;
    width: 100%;
    height: 100%;
    top: 0;

    .modal-content{
        
        width: 80%;
        margin: auto;
        margin-top: 8rem;
        background-color: $siteWhite;

        .menuModalDiv{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: .3rem;
            outline: 0;

                .menuModalButtonDiv{
                    background-color: $siteWhite;
                }
            }
        }   
}







 //larger screens for MenuModal

  @media screen and (min-width: 650px){


    .menuModalButton{
        background-color: $siteContrast2;
        border: none;
        color: $siteWhite;
        margin-top: 8px;
        margin-left: 8px;
        margin-bottom: 10px;
        border-radius: 3px;                    
        transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
        font-family: myNeonFont;
        width: 5rem;
        height: 3rem;
        font-size: 1.8rem;
        
    
        &:hover{
            color: $siteContrast;
            background-color: $siteWhite;
            box-shadow: 0px 0px 6px 6px $siteWhite;
        }
    }





    .modal-dialog {
        max-width: 1600px;
        margin-top: 1.75rem;
        margin-left: 2rem;
        margin-right: 2rem; 
    }




    .menu-list-item{

        display: grid;
        margin-bottom: 20px;
    
        .menu-itemName{
            color: $siteContrast;
            background-color: $siteWhite;
            display: grid;
            grid-row-start: 1;
            grid-row-end: 3;
            text-align: center;
            grid-column-start: 3;
            grid-column-end: 10;
            font-size: 2.8rem;
            font-family: myNeonFont;

        }    


        .menu-itemDesc{                    
            display: grid;
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 3;
            grid-column-end: 10;
            text-align: center;
            color: $siteContrast;
            background-color: $siteWhite;
            font-size: 1.8rem;
            font-family: myNeonFont;

        }


        .menu-itemPrice{                    
            display: grid;
            color: $siteContrast;
            background-color: $siteWhite;
            grid-column-start: 11;
            grid-column-end: 12;
            text-align: center;
            font-size: 2rem;
            font-family: myNeonFont;
            grid-row-start: 1;
            grid-row-end: 3;
            align-content: center;
            margin-top: 5px;
        }

    }
}





.PrimaryMenuModal{    

    .PrimaryMenuModalContainer{
        margin-top: 200px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        background-color: $siteWhite;


        .menuModalButtonDiv{
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: $siteWhite;

        }

        .starterSection{
            grid-row-start: 1;
            grid-row-end: 3;

        
        }

        .mainSection{
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .dessertSection{
            grid-row-start: 3;
            grid-row-end: 5;

        }
    }
}





















































//small screens for menuModal
@media screen and (max-width: 649px){

    .menuModalButton{
        font-size: 2.1rem;
        width: 15vw;
        margin-left: 0px;

    }



    .modal-dialog {
        margin-top: 1.75rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-family: myNeonFont;
    }




    

    //small menu items
    .menu-itemName{
        color: $siteContrast;
        background-color: $siteWhite;
        display: grid;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
        grid-column-start: 4;
        grid-column-end: 10;
        font-size: 2rem;
        font-family: myNeonFont;


    }    


    .menu-itemDesc{                    
        display: grid;
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 4;
        grid-column-end: 10;
        text-align: left;
        color: $siteContrast;
        background-color: $siteWhite;
        font-size: 1.2rem;
        font-family: myNeonFont;
    }


    .menu-itemPrice{                    
        display: grid;
        color: $siteContrast;
        background-color: $siteWhite;
        grid-column-start: 11;
        grid-column-end: 12;
        text-align: center;
        justify-content: center;
        align-content: center;
        font-size: 1.6rem;
        font-family: myNeonFont;
        grid-row-start: 1;
        grid-row-end: 3;


    }

    .menuModalButton{
        font-size: 1.4rem;
        width: 70px;
        height: 40px;
        margin-bottom: auto;
        margin-top: auto;
    }


    .menu-list-item{
        color: $siteContrast;
        background-color: $siteWhite;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(5, 1rem);
        font-family: $roboFont;

    }

    .modal-content{
        width: 100%;
        margin: auto;

    

    }

}







