@font-face {
  font-family: myNeonFont;
  src: url("./cafe.ttf") format("truetype");
}

a {
  color: #e4cde4;
  text-decoration: none;
}

body {
  line-height: 1;
}

a {
  color: #e4cde4;
  text-decoration: none;
}

.menuButton {
  background-color: transparent;
  color: #e4cde4;
}

@media screen and (max-width: 649px) {
  .AppSub {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    background-image: url("./images/pexels-negative-space-34650.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    z-index: 1;
  }
  .Overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    z-index: 2;
  }
  .TopThird {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    z-index: 3;
  }
  .TopThird .Logo {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    z-index: 2;
  }
  .TopThird .Logo .LogoText {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    font-family: myNeonFont;
    font-size: 15vw;
    color: #e4cde4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Logo .LogoText:hover {
    opacity: 0.6;
  }
  .TopThird .Nav {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    z-index: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .TopThird .Nav .NavText {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 8;
    font-family: myNeonFont;
    font-size: 3.4vw;
    color: #e4cde4;
    padding-top: 12px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .TopThird .Nav .NavText .menu {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Nav .NavText .menu:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .book {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 15px;
  }
  .TopThird .Nav .NavText .book:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .rewards {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 15px;
  }
  .TopThird .Nav .NavText .rewards:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .contact {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Nav .NavText .contact:hover {
    opacity: 0.6;
  }
  .TopThird .Call {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    z-index: 3;
  }
  .TopThird .Call .Call-button {
    background-color: #e4cde4;
    height: auto;
    width: auto;
    font-family: myNeonFont;
    font-size: 8vw;
    color: #4e4e4e;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    z-index: 4;
  }
  .TopThird .Call .Call-button:hover {
    background-color: #4e4e4e;
    color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #4e4e4e;
            box-shadow: 0px 0px 6px 6px #4e4e4e;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: #4e4e4e;
    -webkit-box-shadow: 0 0 0px 1000px #e4cde4 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  .PopupContact {
    font-family: myNeonFont;
    font-size: 5rem;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(500px, auto);
    z-index: 5;
  }
  .PopupContact form {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .PopupContact form input {
    display: -ms-grid;
    display: grid;
    background-color: #e4cde4 !important;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 16;
    font-family: myNeonFont;
    font-size: 2rem;
    color: #4e4e4e;
    border-radius: 2px;
  }
  .PopupContact form textarea {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 8;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 17;
    font-family: myNeonFont;
    font-size: 2rem;
    background-color: #e4cde4;
    color: #4e4e4e;
    border-radius: 2px;
  }
  .PopupContact form button {
    -ms-grid-row: 9;
        grid-row-start: 9;
    grid-row-end: 10;
    -ms-grid-column: 9;
        grid-column-start: 9;
    grid-column-end: 13;
    font-family: myNeonFont;
    font-size: 3rem;
    background-color: #e4cde4;
    color: #4e4e4e;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  }
  .PopupContact form button:hover {
    background-color: #4e4e4e;
    color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #4e4e4e;
            box-shadow: 0px 0px 6px 6px #4e4e4e;
  }
  .MiddleThird {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (130px)[6];
        grid-template-rows: repeat(6, 130px);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .MiddleThird .CenterPanel {
    height: auto;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    z-index: 2;
  }
  .MiddleThird .CenterPanel .Booking {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    background-color: #e4cde4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10;
        grid-template-columns: 10;
    -ms-grid-rows: 10;
        grid-template-rows: 10;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: myNeonFont;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal {
    height: 96%;
    width: 98%;
    background-color: #e4cde4;
    border: 2px solid #4e4e4e;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    line-height: 10px;
    padding: 0px;
    margin: 0px;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-gap: 0px;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-first-paragraph {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12vw;
    text-decoration: underline;
    color: #4e4e4e;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-second-paragraph {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 6vw;
    color: #4e4e4e;
    margin-top: 2.5vw;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-button {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 8;
    display: -ms-grid;
    display: grid;
    background-color: #4e4e4e;
    border-radius: 2px;
    font-size: 4.8vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-button:hover {
    color: #4e4e4e;
    background-color: #c7b8c7;
  }
  .MiddleThird .CenterPanel .Menu {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    background-image: url("./images/platter-2009590_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .MiddleThird .CenterPanel .Menu:hover {
    opacity: 0.8;
    color: #fff0ff;
  }
  .MiddleThird .CenterPanel .Menu .Menu-text {
    font-size: 10vw;
    color: #e4cde4;
    font-family: myNeonFont;
    z-index: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
  }
  .MiddleThird .CenterPanel .Menu .Menu-overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    background-color: black;
    z-index: 1;
    opacity: 0.45;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .MiddleThird .CenterPanel .Menu .Menu-overlay:hover {
    opacity: 0.6;
  }
  .MiddleThird .CenterPanel .Rewards {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    background-image: url("./images/morning-819362.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .MiddleThird .CenterPanel .Rewards:hover {
    opacity: 0.8;
    color: #fff0ff;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-text {
    font-size: 10vw;
    color: #e4cde4;
    font-family: myNeonFont;
    z-index: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    background-color: black;
    z-index: 1;
    opacity: 0.45;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-overlay:hover {
    opacity: 0.6;
  }
  .BottomThird {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(200px, auto);
    color: #e4cde4;
  }
  .BottomThird .Signup {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 3vw;
  }
  .BottomThird .Signup .Signup-button {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Signup .Signup-button:hover {
    opacity: 0.6;
  }
  .BottomThird .Signup .Signup-careers {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Signup .Signup-careers:hover {
    opacity: 0.6;
  }
  .BottomThird .Socials {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 11;
        grid-column-start: 11;
    grid-column-end: 20;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 3vw;
  }
  .BottomThird .Socials .Socials-twitter {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Socials .Socials-twitter:hover {
    opacity: 0.6;
  }
  .BottomThird .Socials .Socials-instagram {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Socials .Socials-instagram:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 16;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 2.5vw;
  }
  .BottomThird .Terms .Terms-cookies {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-cookies:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-conditions {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-conditions:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-privacy {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-privacy:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-info {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.8vw;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-info:hover {
    opacity: 0.6;
  }
}

@media screen and (min-width: 650px) {
  .AppSub {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[13];
        grid-template-rows: repeat(13, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    background-image: url("./images/pexels-negative-space-34650.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    z-index: 1;
  }
  .Overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 12;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    z-index: 2;
  }
  .TopThird {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    z-index: 3;
  }
  .TopThird .Logo {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    z-index: 2;
  }
  .TopThird .Logo .LogoText {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    font-family: myNeonFont;
    font-size: 8vw;
    color: #e4cde4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Logo .LogoText:hover {
    opacity: 0.6;
  }
  .TopThird .Nav {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    z-index: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .TopThird .Nav .NavText {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 8;
    font-family: myNeonFont;
    font-size: 3.4vw;
    color: #e4cde4;
    padding-top: 12px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .TopThird .Nav .NavText .menu {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Nav .NavText .menu:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .book {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 15px;
  }
  .TopThird .Nav .NavText .book:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .rewards {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 15px;
  }
  .TopThird .Nav .NavText .rewards:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .contact {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Nav .NavText .contact:hover {
    opacity: 0.6;
  }
  .TopThird .Call {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    z-index: 3;
  }
  .TopThird .Call .Call-button {
    background-color: #e4cde4;
    height: auto;
    width: auto;
    font-family: myNeonFont;
    font-size: 4vw;
    color: #4e4e4e;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    z-index: 4;
  }
  .TopThird .Call .Call-button:hover {
    background-color: #4e4e4e;
    color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #4e4e4e;
            box-shadow: 0px 0px 6px 6px #4e4e4e;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: #4e4e4e;
    -webkit-box-shadow: 0 0 0px 1000px #e4cde4 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  .PopupContact {
    font-family: myNeonFont;
    font-size: 5rem;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 10;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(500px, auto);
    z-index: 5;
  }
  .PopupContact form {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .PopupContact form input {
    display: -ms-grid;
    display: grid;
    background-color: #e4cde4 !important;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 16;
    font-family: myNeonFont;
    font-size: 2rem;
    color: #4e4e4e;
    border-radius: 2px;
  }
  .PopupContact form textarea {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 8;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 17;
    font-family: myNeonFont;
    font-size: 2rem;
    background-color: #e4cde4;
    color: #4e4e4e;
    border-radius: 2px;
  }
  .PopupContact form button {
    -ms-grid-row: 9;
        grid-row-start: 9;
    grid-row-end: 10;
    -ms-grid-column: 9;
        grid-column-start: 9;
    grid-column-end: 13;
    font-family: myNeonFont;
    font-size: 3rem;
    background-color: #e4cde4;
    color: #4e4e4e;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  }
  .PopupContact form button:hover {
    background-color: #4e4e4e;
    color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #4e4e4e;
            box-shadow: 0px 0px 6px 6px #4e4e4e;
  }
  .MiddleThird {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 12;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .MiddleThird .CenterPanel {
    height: auto;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 7;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 19;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    z-index: 2;
  }
  .MiddleThird .CenterPanel .Booking {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    background-color: #e4cde4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10;
        grid-template-columns: 10;
    -ms-grid-rows: 10;
        grid-template-rows: 10;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: myNeonFont;
    font-size: 10vw;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal {
    height: 96%;
    width: 98%;
    background-color: #e4cde4;
    border: 2px solid #4e4e4e;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    line-height: 10px;
    padding: 0px;
    margin: 0px;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-gap: 0px;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-first-paragraph {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 7vw;
    text-decoration: underline;
    color: #4e4e4e;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-second-paragraph {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3vw;
    color: #4e4e4e;
    margin-top: 1.5vw;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-button {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    display: -ms-grid;
    display: grid;
    background-color: #4e4e4e;
    border-radius: 2px;
    font-size: 2.8vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-button:hover {
    color: #4e4e4e;
    background-color: #c7b8c7;
  }
  .MiddleThird .CenterPanel .Menu {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    background-image: url("./images/platter-2009590_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .MiddleThird .CenterPanel .Menu:hover {
    opacity: 0.8;
    color: #fff0ff;
  }
  .MiddleThird .CenterPanel .Menu .Menu-text {
    font-size: 5vw;
    color: #e4cde4;
    font-family: myNeonFont;
    z-index: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
  }
  .MiddleThird .CenterPanel .Menu .Menu-overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    background-color: black;
    z-index: 1;
    opacity: 0.45;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .MiddleThird .CenterPanel .Menu .Menu-overlay:hover {
    opacity: 0.6;
  }
  .MiddleThird .CenterPanel .Rewards {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 7;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    background-image: url("./images/morning-819362.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .MiddleThird .CenterPanel .Rewards:hover {
    opacity: 0.8;
    color: #fff0ff;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-text {
    font-size: 5vw;
    color: #e4cde4;
    font-family: myNeonFont;
    z-index: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    background-color: black;
    z-index: 1;
    opacity: 0.45;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-overlay:hover {
    opacity: 0.6;
  }
  .BottomThird {
    -ms-grid-row: 12;
        grid-row-start: 12;
    grid-row-end: 14;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(200px, auto);
    color: #e4cde4;
  }
  .BottomThird .Signup {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 3vw;
  }
  .BottomThird .Signup .Signup-button {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Signup .Signup-button:hover {
    opacity: 0.6;
  }
  .BottomThird .Signup .Signup-careers {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Signup .Signup-careers:hover {
    opacity: 0.6;
  }
  .BottomThird .Socials {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 11;
        grid-column-start: 11;
    grid-column-end: 20;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 3vw;
  }
  .BottomThird .Socials .Socials-twitter {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Socials .Socials-twitter:hover {
    opacity: 0.6;
  }
  .BottomThird .Socials .Socials-instagram {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Socials .Socials-instagram:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 16;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 2.5vw;
  }
  .BottomThird .Terms .Terms-cookies {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-cookies:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-conditions {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-conditions:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-privacy {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-privacy:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-info {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.8vw;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-info:hover {
    opacity: 0.6;
  }
}
/*# sourceMappingURL=AppSub.css.map */