//appsub

body{
    padding: 0px !important;
}

@font-face {
    font-family: myNeonFont;
    src: url("./cafe.ttf") format("truetype");
}

@mixin myMixin(){
    background-color: black;
    z-index: 1;
    opacity: 30%;
}

$siteWhite: rgb(228, 205, 228);
$siteWhite2: rgb(199, 184, 199);
$siteWhiteBright:  rgb(255, 240, 255);
$siteContrast: rgb(78, 78, 78);
$siteContrast2: rgb(88, 88, 88);

html{
    background-color: black;
}


a{
    color: $siteWhite;
    text-decoration: none;
}

body{
    line-height: 1;
}

a{
    color: $siteWhite;
    text-decoration: none;
}


.menuButton{
    background-color: transparent;
    color: $siteWhite;
}
















































//small screens
@media screen and (max-width: 500px){


    .AppSub{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        
        background-image: url("./images/pexels-negative-space-34650.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: black;  

        z-index: 1;
        

    }


    .Overlay{
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
        z-index: 2;
        
    }

    .TopThird{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        width: auto;
        display: grid;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(200px, auto);
        z-index: 3;

        

        .Logo{        

            grid-row-start: 1;
            grid-row-end:   6;
            grid-column-start: 1;
            grid-column-end:   4;
            justify-content: center;
            align-content: center;
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: repeat(8, 1fr);
            z-index: 2;
            
            

            .LogoText{
                grid-row-start: 2;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 4;


                font-family: myNeonFont;
                font-size: 15vw;
                color: $siteWhite;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
                
                

                
                
        }}

        .Nav{
            grid-row-start: 1;
            grid-row-end:   6;
            grid-column-start: 3;
            grid-column-end:   7;
            z-index: 2;


            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: repeat(8, 1fr);
            justify-content: center;
            align-content: center;


            .NavText{
                grid-row-start: 2;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 8;


                font-family: myNeonFont;
                font-size: 5.8vw;
                color: $siteWhite;

                padding-top: 12px;

                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;

                .menu{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    transition: opacity 0.2s;
                    margin-right: 10px;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .book{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    transition: opacity 0.2s;
                    margin-right: 15px;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .rewards{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 3;
                    grid-column-end: 4;
                    transition: opacity 0.2s;
                    margin-right: 15px;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .contact{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 4;
                    grid-column-end: 5;
                    transition: opacity 0.2s;
                    &:hover{
                        opacity: 0.6;
                    }
                }



            }
        }

        .Call{


            grid-row-start: 5;
            grid-row-end: 6;
            grid-column-start: 3;
            grid-column-end: 5;
            justify-self: center;
            align-self: start;
            z-index: 3;



            .Call-button{
                background-color: $siteWhite;
                height: auto;
                width: auto;
                font-family: myNeonFont;
                font-size: 8vw;
                color: $siteContrast;
                display: grid;
                justify-content: center;
                align-content: center;
                box-shadow: 0px 0px 2px 1px $siteWhite;
                transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
                padding-left: 0.3vw;
                padding-right: 0.2vw;
                

                z-index: 4;
                &:hover{
                    background-color: $siteContrast;
                    color: $siteWhite;
                    box-shadow: 0px 0px 6px 6px $siteContrast;
                }
            }

        }

    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: $siteContrast;
    -webkit-box-shadow: 0 0 0px 1000px $siteWhite inset;
    transition: background-color 5000s ease-in-out 0s;
    }




  




    .MiddleThird{
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;
        width: auto;
        display: grid;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(20, 1fr);


        
        
        

        .CenterPanel{
            
            height: auto;
            grid-row-start: 1;
            grid-row-end: 7;
            grid-column-start: 1;
            grid-column-end: 21;
            display: grid;
            grid-template-columns: repeat(6, 1fr); 
            grid-template-rows: repeat(3, 1fr);
            z-index: 2;
            

            .Booking {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 7;
                background-color: $siteWhite;

                display: grid;
                grid-template-columns: 10;
                grid-template-rows: 10;
                justify-items: center;
                align-items: center;
                font-family: myNeonFont;
                

                
                .Booking-internal{
                    height: 96%;
                    width: 98%;
                    background-color: $siteWhite;
                    border: 2px solid $siteContrast;
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    line-height: 10px;
                    padding: 0px;
                    margin: 0px;

                    grid-template-columns: repeat(10, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                    grid-gap: 0px;


                    .Booking-internal-first-paragraph{
                        grid-row-start: 2;
                        grid-row-end: 4;
                        grid-column-start: 1;
                        grid-column-end: 11;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        font-size: 12vw;
                        text-decoration: underline;
                        color: $siteContrast;

                        
                    }

                    .Booking-internal-second-paragraph{
                        grid-row-start: 3;
                        grid-row-end: 5;
                        grid-column-start: 1;
                        grid-column-end: 11;
                    
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        font-size: 6.7vw;
                        color: $siteContrast;
                        margin-top: 3.5vw;

                    }

                    .Booking-internal-button{
                        grid-row-start: 5;
                        grid-row-end: 6;
                        grid-column-start: 4;
                        grid-column-end: 8;

                        display: grid;

                        background-color: $siteContrast;
                        border-radius: 2px;
                        font-size: 5.5vw;
                        justify-content: center;
                        align-content: center;
                        color: $siteWhite;
                        transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
                        &:hover{
                            color: $siteContrast;
                            background-color: $siteWhite2;

                        }
                        



                    }
                }

            }

            .Menu {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 7;

                background-image: url("./images/platter-2009590_1920.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: grid;


                grid-template-columns: 3;
                grid-template-rows: 3;
                &:hover{
                    opacity: 0.8;
                    color: $siteWhiteBright;
                }
                
                .Menu-text{
                    font-size: 11vw;
                    color: $siteWhite;
                    font-family: myNeonFont;
                    z-index: 2;
                    justify-self: center;
                    align-self: center;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-row-end: 3;

                }

                .Menu-overlay{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-row-end: 3;
                    background-color: black;
                    z-index: 1;
                    opacity: 0.45;
                    transition: opacity 0.4s;
                    &:hover{
                        opacity: 0.6;
                    }
                }

            }

            .Rewards {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 7;

                background-image: url("./images/morning-819362.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: grid;


                grid-template-columns: 3;
                grid-template-rows: 3;
                &:hover{
                    opacity: 0.8;
                    color: $siteWhiteBright;
                }

                .Rewards-text{
                    font-size: 11vw;
                    color: $siteWhite;
                    font-family: myNeonFont;
                    z-index: 2;
                    justify-self: center;
                    align-self: center;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-row-end: 3;
                }

                .Rewards-overlay{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-row-end: 3;
                    background-color: black;
                    z-index: 1;
                    opacity: 0.45;
                    transition: opacity 0.4s;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }


        }
    }







            
        
        
        




    .BottomThird{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 4;
        width: auto;
        display: grid;

        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(20, 1fr);
        grid-auto-rows: minmax(200px, auto);
        color: $siteWhite;

        .Signup{
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 20;


            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(5, 1fr);
            font-family: myNeonFont;
            font-size: 8vw;

            .Signup-button{
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;
                justify-self: center;
                align-self: center;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Signup-careers{
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 5;
                justify-self: center;
                align-self: center;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }

            }


        }

        .Socials{

            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 20;


            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(5, 1fr);
            font-family: myNeonFont;
            font-size: 8vw;

            .Socials-twitter{
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 3;
                align-self: center;
                justify-self: center;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Socials-instagram{
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 4;
                grid-column-end: 6;
                align-self: center;
                justify-self: center;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

        }

        .Terms{
            grid-row-start: 3;
            grid-row-end: 5;
            grid-column-start: 4;
            grid-column-end: 18;


            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(10, 1fr);
            font-family: myNeonFont;
            font-size: 6vw;

            .Terms-cookies{
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 2;
                grid-column-end: 4;
                justify-self: start;
                align-self: start;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Terms-conditions{
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 5;
                grid-column-end: 7;
                justify-self: center;
                align-self: start;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Terms-privacy{
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 8;
                grid-column-end: 10;
                justify-self: end;
                align-self: start;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Terms-info{
                grid-row-start: 2;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 11;
                justify-self: center;
                align-self: center;
                font-size: 4.3vw;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

        }

    }




    .bookingComponentForm{

            font-family: myNeonFont;
            font-size: 4vw;
            display: grid;
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 1;
            grid-row-end: 12;
            grid-template-columns: repeat(14, 6vw);
            grid-template-rows: repeat(9, 8vw);



        .BookingModalButton{
            background-color: $siteContrast2;
            border: none;
            color: $siteWhite;
            margin-top: 1vw;
            margin-bottom: 1vw;
            border-radius: 3px;                    
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            text-align: center;
            vertical-align: middle;
        
            font-family: myNeonFont;
            width: 9.5vw;
            height: 5vw;
            font-size: 4vw;
            padding: 0.1vw;

            
        
            &:hover{
                color: $siteContrast;
                background-color: $siteWhite;
                box-shadow: 0px 0px 6px 6px $siteWhite;
            }
        }


        .bookingComponentFormSlotSelect{
            width: 20vw;
            margin-left: 0.8vw;
        }

    

        .entryFieldEmail{



            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .entryFieldName{

            margin-top: -4vw;

            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 4;
            grid-row-end: 5;
            width: auto;
        }

        .entryFieldComments{

            margin-top: -8vw;

            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 6;
            grid-row-end: 7;

            padding: 0.1vw;
        }

        .entryFieldSlots{

            margin-top: -1vw;
            margin-bottom: 1vw;

            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 7;
            grid-row-end: 8;
            
        }


        .BookingSubmitButton{

            display: grid;
            background-color: $siteContrast2;
            border: none;
            color: $siteWhite;
            border-radius: 3px;                    
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            text-align: center;
            vertical-align: middle;
            margin-bottom: 1vw;
            font-family: myNeonFont;
            margin-top: 3vw;


            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 8;
            grid-row-end: 9;

            font-family: myNeonFont;

            width: 20vw;
            height: 6vw;


            
        
            &:hover{
                color: $siteContrast;
                background-color: $siteWhite;
                box-shadow: 0px 0px 6px 6px $siteWhite;
            }
        }

        .BookingSubmitButtonButton{
            color: $siteWhite;
            background-color: $siteContrast;
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            border: none;
            font-size: 5vw;
            padding: 0.1vw;
            
            margin-top: 1vw;

            &:hover{
                color: $siteContrast;
                background-color: $siteWhite;
                box-shadow: 0px 0px 6px 6px $siteWhite;
            }
        }


        .col-form-label{
            padding-left: 2.7vw;
            margin-right: 3.5vw;
        }
        
        #slotLabel{
            padding-left: 2.7vw;
            margin-right: 1.8vw;
        }
        
        .form-control{
            font-size: 4vw;
            justify-content: center;
        }
        
        .custom-select{
            font-size: 4vw;
            padding: 0.1vw;
        }
        
        #checkbox2{
            margin-right: 20px;
        }
        
        .col-sm-2{
            margin-right: 15px;
            padding-bottom: 3px;
        }
        
        .offset-sm-2{
            margin-left: 0px;
            padding-left: 65vw;
        }
        
        .entryField{
            margin-left: 9vw;
            margin-top: 1vw;
        }
        
        .checcyBoccy{
            margin-left: 12vw;
        }
        
        #checkbox2{
            margin-right: 0px;
        }
        
        .form-check-input{
            margin-left: 15vw;
        }
        
        .row{
            margin-left: 0px;
            margin-right: 0px;
        }
        
        
        
        
        .col-sm-10{
            padding: 0px;
            width: 100%;
        }
        
        .form-control{
            padding: 0px;
        }




        

    }



    .BookingNoSlotsInternal{
        font-family: myNeonFont;
        height: 40vw;
        text-align: center;
        display: grid;
        width: auto;
        margin-top: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 2vw;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(3, 1fr);
        z-index: 5;
        border-left: solid $siteContrast 1px;
        border-right: solid $siteContrast 1px;



        .BookingNoSlotsInternalTitle{
            color: $siteContrast;
            font-size: 7vw;
            display: grid;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 9;
            margin-top: 1px;
            margin-bottom: 1px;
            justify-content: center;
            align-content: center;
            border-bottom: $siteContrast 2px solid;
        }


        .BookingNoSlotsParagraph{
            color: $siteContrast;
            font-size: 4.4vw;
            display: grid;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 11;
            margin-top: 2vw;
            margin-bottom: 2vw;
            justify-content: center;
            align-content: center;
        }

        .BookingNoSlotsCloseButton{
            background-color: $siteContrast;
            color: $siteWhite;
            border: none;
            font-size: 5.5vw;
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 4;
            grid-column-end: 8;
            margin-bottom: 10px;
            margin-top: 10px;

            justify-content: center;
            align-content: center;
            width: auto;


            box-shadow: 0px 0px 2px 1px $siteWhite;
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            padding-left: 0.3vw;
            padding-right: 0.2vw;
            

            z-index: 4;
            &:hover{
                background-color: $siteWhite2;
                color: $siteContrast2;
                box-shadow: 0px 0px 6px 6px $siteWhite2;
            }

        }

    }




    .BookingThankYouInternal{
        font-family: myNeonFont;
        height: 20vw;
        text-align: center;
        display: grid;
        width: auto;
        margin-top: 2vw;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-bottom: 2vw;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(3, 1fr);
        z-index: 5;
        border-left: solid $siteContrast 2px;
        border-right: solid $siteContrast 2px;



        .BookingThankYouInternalTitle{
            color: $siteContrast;
            font-size: 4vw;
            display: grid;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 4;
            grid-column-end: 8;
            margin-top: 1px;
            margin-bottom: 1px;
            justify-content: center;
            align-content: center;
            border-bottom: $siteContrast 2px solid;
        }


        .BookingThankYouInternalParagraph{
            color: $siteContrast;
            font-size: 2.3vw;
            display: grid;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end: 9;
            margin-top: 2vw;
            justify-content: center;
            align-content: center;
        }

        .BookingThankYouCloseButton{
            background-color: $siteContrast;
            color: $siteWhite;
            border: none;
            font-size: 2.3vw;
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 5;
            grid-column-end: 7;
            margin-bottom: 20px;
            margin-top: 20px;

            justify-content: center;
            align-content: center;
            width: auto;


            box-shadow: 0px 0px 2px 1px $siteWhite;
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            padding-left: 0.3vw;
            padding-right: 0.2vw;
            

            z-index: 4;
            &:hover{
                background-color: $siteWhite2;
                color: $siteContrast2;
                box-shadow: 0px 0px 6px 6px $siteWhite2;
            }

        }

    }



}










































































































































































//large screens
@media screen and (min-width: 501px){


    .AppSub{
        display: grid;
        grid-template-rows: repeat(13, 1fr);
        grid-template-columns: repeat(5, 1fr);
        
        background-image: url("./images/pexels-negative-space-34650.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: black;
        

        z-index: 1;
        

    }


    .Overlay{
        grid-row-start: 1;
        grid-row-end: 12;
        grid-column-start: 1;
        grid-column-end: 6;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
        z-index: 2;
        
    }

    .TopThird{
        grid-row-start: 1;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 6;
        width: auto;
        display: grid;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(200px, auto);
        z-index: 3;

        

        .Logo{        

            grid-row-start: 1;
            grid-row-end:   6;
            grid-column-start: 1;
            grid-column-end:   4;
            justify-content: center;
            align-content: center;
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: repeat(8, 1fr);
            z-index: 2;
            
            

            .LogoText{
                grid-row-start: 2;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 4;


                font-family: myNeonFont;
                font-size: 8vw;
                color: $siteWhite;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
                
                

                
                
        }}

        .Nav{
            grid-row-start: 1;
            grid-row-end:   6;
            grid-column-start: 4;
            grid-column-end:   7;
            z-index: 2;


            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: repeat(8, 1fr);
            justify-content: center;
            align-content: center;


            .NavText{
                grid-row-start: 2;
                grid-row-end: 5;
                grid-column-start: 1;
                grid-column-end: 8;


                font-family: myNeonFont;
                font-size: 4.8vw;
                color: $siteWhite;

                padding-top: 12px;

                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;

                .menu{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    transition: opacity 0.2s;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .book{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    transition: opacity 0.2s;
                    margin-right: 15px;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .rewards{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 3;
                    grid-column-end: 4;
                    transition: opacity 0.2s;
                    margin-right: 15px;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .contact{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 4;
                    grid-column-end: 5;
                    transition: opacity 0.2s;
                    &:hover{
                        opacity: 0.6;
                    }
                }



            }
        }

        .Call{


            grid-row-start: 5;
            grid-row-end: 6;
            grid-column-start: 3;
            grid-column-end: 5;
            justify-self: center;
            align-self: start;
            z-index: 3;



            .Call-button{
                background-color: $siteWhite;
                height: auto;
                width: auto;
                font-family: myNeonFont;
                font-size: 4vw;
                color: $siteContrast;
                display: grid;
                justify-content: center;
                align-content: center;
                box-shadow: 0px 0px 2px 1px $siteWhite;
                transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
                padding-left: 0.3vw;
                padding-right: 0.2vw;
                

                z-index: 4;
                &:hover{
                    background-color: $siteContrast;
                    color: $siteWhite;
                    box-shadow: 0px 0px 6px 6px $siteContrast;
                }
            }

        }

    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: $siteContrast;
    -webkit-box-shadow: 0 0 0px 1000px $siteWhite inset;
    transition: background-color 5000s ease-in-out 0s;
    }




   



    .MiddleThird{
        grid-row-start: 6;
        grid-row-end: 12;
        grid-column-start: 1;
        grid-column-end: 7;
        width: auto;
        display: grid;

        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(20, 1fr);
        grid-auto-rows: minmax(50px, auto);

        
        
        

        .CenterPanel{
            
            height: auto;
            grid-row-start: 1;
            grid-row-end: 7;
            grid-column-start: 3;
            grid-column-end: 19;
            display: grid;
            grid-template-columns: repeat(6, 1fr); 
            grid-template-rows: repeat(6, 1fr);
            z-index: 2;
            

            .Booking {
                grid-row-start: 1;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 7;
                background-color: $siteWhite;

                display: grid;
                grid-template-columns: 10;
                grid-template-rows: 10;
                justify-items: center;
                align-items: center;
                font-family: myNeonFont;
                font-size: 10vw;

                
                .Booking-internal{
                    height: 96%;
                    width: 98%;
                    background-color: $siteWhite;
                    border: 2px solid $siteContrast;
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    line-height: 10px;
                    padding: 0px;
                    margin: 0px;

                    grid-template-columns: repeat(10, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                    grid-gap: 0px;


                    .Booking-internal-first-paragraph{
                        grid-row-start: 2;
                        grid-row-end: 4;
                        grid-column-start: 1;
                        grid-column-end: 11;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        font-size: 7vw;
                        text-decoration: underline;
                        color: $siteContrast;

                        
                    }

                    .Booking-internal-second-paragraph{
                        grid-row-start: 3;
                        grid-row-end: 5;
                        grid-column-start: 1;
                        grid-column-end: 11;
                    
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        font-size: 3vw;
                        color: $siteContrast;
                        margin-top: 1.5vw;

                    }

                    .Booking-internal-button{
                        grid-row-start: 5;
                        grid-row-end: 6;
                        grid-column-start: 5;
                        grid-column-end: 7;

                        display: grid;

                        background-color: $siteContrast;
                        border-radius: 2px;
                        font-size: 2.8vw;
                        justify-content: center;
                        align-content: center;
                        color: $siteWhite;
                        transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
                        &:hover{
                            color: $siteContrast;
                            background-color: $siteWhite2;

                        }
                        



                    }
                }

            }

            .Menu {
                grid-row-start: 4;
                grid-row-end: 7;
                grid-column-start: 1;
                grid-column-end: 4;

                background-image: url("./images/platter-2009590_1920.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: grid;


                grid-template-columns: 3;
                grid-template-rows: 3;
                &:hover{
                    opacity: 0.8;
                    color: $siteWhiteBright;
                }
                
                .Menu-text{
                    font-size: 5vw;
                    color: $siteWhite;
                    font-family: myNeonFont;
                    z-index: 2;
                    justify-self: center;
                    align-self: center;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-row-end: 3;

                }

                .Menu-overlay{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-row-end: 3;
                    background-color: black;
                    z-index: 1;
                    opacity: 0.45;
                    transition: opacity 0.4s;
                    &:hover{
                        opacity: 0.6;
                    }
                }

            }

            .Rewards {
                grid-row-start: 4;
                grid-row-end: 7;
                grid-column-start: 4;
                grid-column-end: 7;

                background-image: url("./images/morning-819362.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: grid;


                grid-template-columns: 3;
                grid-template-rows: 3;
                &:hover{
                    opacity: 0.8;
                    color: $siteWhiteBright;
                }

                .Rewards-text{
                    font-size: 5vw;
                    color: $siteWhite;
                    font-family: myNeonFont;
                    z-index: 2;
                    justify-self: center;
                    align-self: center;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-row-end: 3;
                }

                .Rewards-overlay{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-row-end: 3;
                    background-color: black;
                    z-index: 1;
                    opacity: 0.45;
                    transition: opacity 0.4s;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }


        }
    }


            
        
        
        




    .BottomThird{
        grid-row-start: 12;
        grid-row-end: 14;
        grid-column-start: 1;
        grid-column-end: 6;
        width: auto;
        display: grid;

        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(20, 1fr);
        grid-auto-rows: minmax(200px, auto);
        color: $siteWhite;

        .Signup{
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 20;


            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(20, 1fr);
            font-family: myNeonFont;
            font-size: 3vw;

            .Signup-button{
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 5;
                grid-column-end: 8;
                justify-self: center;
                align-self: center;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Signup-careers{
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 14;
                grid-column-end: 17;
                justify-self: center;
                align-self: center;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }

            }


        }

        .Socials{

            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 20;


            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(20, 1fr);
            font-family: myNeonFont;
            font-size: 3vw;

            .Socials-twitter{
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 3;
                align-self: center;
                justify-self: center;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Socials-instagram{
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 10;
                grid-column-end: 12;
                align-self: center;
                justify-self: center;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

        }

        .Terms{
            grid-row-start: 3;
            grid-row-end: 5;
            grid-column-start: 6;
            grid-column-end: 16;


            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(5, 1fr);
            font-family: myNeonFont;
            font-size: 2.5vw;

            .Terms-cookies{
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 2;
                grid-column-end: 3;
                justify-self: start;
                align-self: start;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Terms-conditions{
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 3;
                grid-column-end: 4;
                justify-self: center;
                align-self: start;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Terms-privacy{
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 4;
                grid-column-end: 5;
                justify-self: end;
                align-self: start;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

            .Terms-info{
                grid-row-start: 2;
                grid-row-end: 4;
                grid-column-start: 2;
                grid-column-end: 5;
                justify-self: center;
                align-self: center;
                font-size: 1.8vw;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }

        }

    }



}


//large screens booking form
@media screen and (min-width: 501px){



    .bookingComponentForm{
        font-family: myNeonFont;
        font-size: 2.3vw;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 12;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 5.2vw);



        .BookingModalButton{
            background-color: $siteContrast2;
            border: none;
            color: $siteWhite;
            margin-top: 1vw;
            margin-left: 0.2vw;
            margin-bottom: 1vw;
            border-radius: 3px;                    
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            text-align: center;
            vertical-align: middle;
        
            font-family: myNeonFont;
            width: 5vw;
            height: 3vw;
            font-size: 2.2vw;
            padding: 0.1vw;

            
        
            &:hover{
                color: $siteContrast2;
                background-color: $siteWhite2;
                box-shadow: 0px 0px 6px 6px $siteWhite2;
            }
        }




    

        .entryFieldEmail{





            grid-column-start: 2;
            grid-column-end: 12;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .entryFieldName{




            grid-column-start: 2;
            grid-column-end: 12;
            grid-row-start: 3;
            grid-row-end: 4;
            width: auto;
        }

        .entryFieldComments{


            margin-bottom: -10px;

            grid-column-start: 2;
            grid-column-end: 12;
            grid-row-start: 4;
            grid-row-end: 6;
        }

        .entryFieldSlots{



            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 6;
            grid-row-end: 7;
        }




        .BookingSubmitButton{
            margin-top: 1.6vw;
            display: grid;
            background-color: $siteContrast2;
            border: none;
            color: $siteWhite;
            border-radius: 3px;                    
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            text-align: center;
            vertical-align: middle;
            margin-bottom: -0.8vw;
            font-family: myNeonFont;



            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 7;
            grid-row-end: 8;

            font-family: myNeonFont;
            width: auto;
            height: 5vw;



            
        
            &:hover{
                color: $siteContrast;
                background-color: $siteWhite;
                box-shadow: 0px 0px 6px 6px $siteWhite;
            }
        }

        .BookingSubmitButtonButton{
            color: $siteWhite;
            background-color: $siteContrast;
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            border: none;
            font-size: 3vw;
            padding: 0.1vw;



            &:hover{
                color: $siteContrast;
                background-color: $siteWhite2;
                box-shadow: 0px 0px 6px 6px $siteWhite2;
            }
        }



        

        .form-control{
            font-size: 2vw;
        }
        
        .custom-select{
            font-size: 1.8vw;
            margin-top: 0px;
        }
        

        

        

        

        

        .row{
            margin-left: 0px;
            margin-right: 0px;
        }
        
        
        
        

        
        .form-control{
            padding: 0x;
        }




        

    }




    .BookingNoSlotsInternal{
        font-family: myNeonFont;
        height: 20vw;
        text-align: center;
        display: grid;
        width: auto;
        margin-top: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 2vw;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(3, 1fr);
        z-index: 5;
        border-left: solid $siteContrast 2px;
        border-right: solid $siteContrast 2px;



        .BookingNoSlotsInternalTitle{
            color: $siteContrast;
            font-size: 4vw;
            display: grid;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 4;
            grid-column-end: 8;
            margin-top: 1px;
            margin-bottom: 1px;
            justify-content: center;
            align-content: center;
            border-bottom: $siteContrast 2px solid;
        }


        .BookingNoSlotsParagraph{
            color: $siteContrast;
            font-size: 2.3vw;
            display: grid;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end: 9;
            margin-top: 2vw;
            justify-content: center;
            align-content: center;
        }

        .BookingNoSlotsCloseButton{
            background-color: $siteContrast;
            color: $siteWhite;
            border: none;
            font-size: 2.3vw;
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 5;
            grid-column-end: 7;
            margin-bottom: 20px;
            margin-top: 20px;

            justify-content: center;
            align-content: center;
            width: auto;


            box-shadow: 0px 0px 2px 1px $siteWhite;
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            padding-left: 0.3vw;
            padding-right: 0.2vw;
            

            z-index: 4;
            &:hover{
                background-color: $siteWhite2;
                color: $siteContrast2;
                box-shadow: 0px 0px 6px 6px $siteWhite2;
            }

        }

    }




    .BookingThankYouInternal{
        font-family: myNeonFont;
        height: 20vw;
        text-align: center;
        display: grid;
        width: auto;
        margin-top: 2vw;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-bottom: 2vw;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(3, 1fr);
        z-index: 5;
        border-left: solid $siteContrast 2px;
        border-right: solid $siteContrast 2px;



        .BookingThankYouInternalTitle{
            color: $siteContrast;
            font-size: 4vw;
            display: grid;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 4;
            grid-column-end: 8;
            margin-top: 1px;
            margin-bottom: 1px;
            justify-content: center;
            align-content: center;
            border-bottom: $siteContrast 2px solid;
        }


        .BookingThankYouInternalParagraph{
            color: $siteContrast;
            font-size: 2.3vw;
            display: grid;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end: 9;
            margin-top: 2vw;
            justify-content: center;
            align-content: center;
        }

        .BookingThankYouCloseButton{
            background-color: $siteContrast;
            color: $siteWhite;
            border: none;
            font-size: 2.3vw;
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 5;
            grid-column-end: 7;
            margin-bottom: 20px;
            margin-top: 20px;

            justify-content: center;
            align-content: center;
            width: auto;


            box-shadow: 0px 0px 2px 1px $siteWhite;
            transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
            padding-left: 0.3vw;
            padding-right: 0.2vw;
            

            z-index: 4;
            &:hover{
                background-color: $siteWhite2;
                color: $siteContrast2;
                box-shadow: 0px 0px 6px 6px $siteWhite2;
            }

        }

    }




}



  










