.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}

body {
  padding: 0px !important;
}

@font-face {
  font-family: myNeonFont;
  src: url("./cafe.ttf") format("truetype");
}

html {
  background-color: black;
}

a {
  color: #e4cde4;
  text-decoration: none;
}

body {
  line-height: 1;
}

a {
  color: #e4cde4;
  text-decoration: none;
}

.menuButton {
  background-color: transparent;
  color: #e4cde4;
}

@media screen and (max-width: 500px) {
  .AppSub {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    background-image: url("./images/pexels-negative-space-34650.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    z-index: 1;
  }
  .Overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    z-index: 2;
  }
  .TopThird {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    z-index: 3;
  }
  .TopThird .Logo {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    z-index: 2;
  }
  .TopThird .Logo .LogoText {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    font-family: myNeonFont;
    font-size: 15vw;
    color: #e4cde4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Logo .LogoText:hover {
    opacity: 0.6;
  }
  .TopThird .Nav {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 7;
    z-index: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .TopThird .Nav .NavText {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 8;
    font-family: myNeonFont;
    font-size: 5.8vw;
    color: #e4cde4;
    padding-top: 12px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .TopThird .Nav .NavText .menu {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 10px;
  }
  .TopThird .Nav .NavText .menu:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .book {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 15px;
  }
  .TopThird .Nav .NavText .book:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .rewards {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 15px;
  }
  .TopThird .Nav .NavText .rewards:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .contact {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Nav .NavText .contact:hover {
    opacity: 0.6;
  }
  .TopThird .Call {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    z-index: 3;
  }
  .TopThird .Call .Call-button {
    background-color: #e4cde4;
    height: auto;
    width: auto;
    font-family: myNeonFont;
    font-size: 8vw;
    color: #4e4e4e;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    z-index: 4;
  }
  .TopThird .Call .Call-button:hover {
    background-color: #4e4e4e;
    color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #4e4e4e;
            box-shadow: 0px 0px 6px 6px #4e4e4e;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: #4e4e4e;
    -webkit-box-shadow: 0 0 0px 1000px #e4cde4 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  .MiddleThird {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
  }
  .MiddleThird .CenterPanel {
    height: auto;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    z-index: 2;
  }
  .MiddleThird .CenterPanel .Booking {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    background-color: #e4cde4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10;
        grid-template-columns: 10;
    -ms-grid-rows: 10;
        grid-template-rows: 10;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: myNeonFont;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal {
    height: 96%;
    width: 98%;
    background-color: #e4cde4;
    border: 2px solid #4e4e4e;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    line-height: 10px;
    padding: 0px;
    margin: 0px;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-gap: 0px;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-first-paragraph {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12vw;
    text-decoration: underline;
    color: #4e4e4e;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-second-paragraph {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 6.7vw;
    color: #4e4e4e;
    margin-top: 3.5vw;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-button {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 8;
    display: -ms-grid;
    display: grid;
    background-color: #4e4e4e;
    border-radius: 2px;
    font-size: 5.5vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-button:hover {
    color: #4e4e4e;
    background-color: #c7b8c7;
  }
  .MiddleThird .CenterPanel .Menu {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    background-image: url("./images/platter-2009590_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .MiddleThird .CenterPanel .Menu:hover {
    opacity: 0.8;
    color: #fff0ff;
  }
  .MiddleThird .CenterPanel .Menu .Menu-text {
    font-size: 11vw;
    color: #e4cde4;
    font-family: myNeonFont;
    z-index: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
  }
  .MiddleThird .CenterPanel .Menu .Menu-overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    background-color: black;
    z-index: 1;
    opacity: 0.45;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .MiddleThird .CenterPanel .Menu .Menu-overlay:hover {
    opacity: 0.6;
  }
  .MiddleThird .CenterPanel .Rewards {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    background-image: url("./images/morning-819362.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .MiddleThird .CenterPanel .Rewards:hover {
    opacity: 0.8;
    color: #fff0ff;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-text {
    font-size: 11vw;
    color: #e4cde4;
    font-family: myNeonFont;
    z-index: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    background-color: black;
    z-index: 1;
    opacity: 0.45;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-overlay:hover {
    opacity: 0.6;
  }
  .BottomThird {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(200px, auto);
    color: #e4cde4;
  }
  .BottomThird .Signup {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 20;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 8vw;
  }
  .BottomThird .Signup .Signup-button {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Signup .Signup-button:hover {
    opacity: 0.6;
  }
  .BottomThird .Signup .Signup-careers {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Signup .Signup-careers:hover {
    opacity: 0.6;
  }
  .BottomThird .Socials {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 20;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 8vw;
  }
  .BottomThird .Socials .Socials-twitter {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Socials .Socials-twitter:hover {
    opacity: 0.6;
  }
  .BottomThird .Socials .Socials-instagram {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 6;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Socials .Socials-instagram:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 18;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    font-family: myNeonFont;
    font-size: 6vw;
  }
  .BottomThird .Terms .Terms-cookies {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-cookies:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-conditions {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-conditions:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-privacy {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 8;
        grid-column-start: 8;
    grid-column-end: 10;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-privacy:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-info {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 4.3vw;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-info:hover {
    opacity: 0.6;
  }
  .bookingComponentForm {
    font-family: myNeonFont;
    font-size: 4vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 13;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 12;
    -ms-grid-columns: (6vw)[14];
        grid-template-columns: repeat(14, 6vw);
    -ms-grid-rows: (8vw)[9];
        grid-template-rows: repeat(9, 8vw);
  }
  .bookingComponentForm .BookingModalButton {
    background-color: #585858;
    border: none;
    color: #e4cde4;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 3px;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    text-align: center;
    vertical-align: middle;
    font-family: myNeonFont;
    width: 9.5vw;
    height: 5vw;
    font-size: 4vw;
    padding: 0.1vw;
  }
  .bookingComponentForm .BookingModalButton:hover {
    color: #4e4e4e;
    background-color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #e4cde4;
            box-shadow: 0px 0px 6px 6px #e4cde4;
  }
  .bookingComponentForm .bookingComponentFormSlotSelect {
    width: 20vw;
    margin-left: 0.8vw;
  }
  .bookingComponentForm .entryFieldEmail {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 13;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .bookingComponentForm .entryFieldName {
    margin-top: -4vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 13;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    width: auto;
  }
  .bookingComponentForm .entryFieldComments {
    margin-top: -8vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 13;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
    padding: 0.1vw;
  }
  .bookingComponentForm .entryFieldSlots {
    margin-top: -1vw;
    margin-bottom: 1vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 8;
  }
  .bookingComponentForm .BookingSubmitButton {
    display: -ms-grid;
    display: grid;
    background-color: #585858;
    border: none;
    color: #e4cde4;
    border-radius: 3px;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1vw;
    font-family: myNeonFont;
    margin-top: 3vw;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 9;
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 9;
    font-family: myNeonFont;
    width: 20vw;
    height: 6vw;
  }
  .bookingComponentForm .BookingSubmitButton:hover {
    color: #4e4e4e;
    background-color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #e4cde4;
            box-shadow: 0px 0px 6px 6px #e4cde4;
  }
  .bookingComponentForm .BookingSubmitButtonButton {
    color: #e4cde4;
    background-color: #4e4e4e;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    border: none;
    font-size: 5vw;
    padding: 0.1vw;
    margin-top: 1vw;
  }
  .bookingComponentForm .BookingSubmitButtonButton:hover {
    color: #4e4e4e;
    background-color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #e4cde4;
            box-shadow: 0px 0px 6px 6px #e4cde4;
  }
  .bookingComponentForm .col-form-label {
    padding-left: 2.7vw;
    margin-right: 3.5vw;
  }
  .bookingComponentForm #slotLabel {
    padding-left: 2.7vw;
    margin-right: 1.8vw;
  }
  .bookingComponentForm .form-control {
    font-size: 4vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bookingComponentForm .custom-select {
    font-size: 4vw;
    padding: 0.1vw;
  }
  .bookingComponentForm #checkbox2 {
    margin-right: 20px;
  }
  .bookingComponentForm .col-sm-2 {
    margin-right: 15px;
    padding-bottom: 3px;
  }
  .bookingComponentForm .offset-sm-2 {
    margin-left: 0px;
    padding-left: 65vw;
  }
  .bookingComponentForm .entryField {
    margin-left: 9vw;
    margin-top: 1vw;
  }
  .bookingComponentForm .checcyBoccy {
    margin-left: 12vw;
  }
  .bookingComponentForm #checkbox2 {
    margin-right: 0px;
  }
  .bookingComponentForm .form-check-input {
    margin-left: 15vw;
  }
  .bookingComponentForm .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .bookingComponentForm .col-sm-10 {
    padding: 0px;
    width: 100%;
  }
  .bookingComponentForm .form-control {
    padding: 0px;
  }
  .BookingNoSlotsInternal {
    font-family: myNeonFont;
    height: 40vw;
    text-align: center;
    display: -ms-grid;
    display: grid;
    width: auto;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vw;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    z-index: 5;
    border-left: solid #4e4e4e 1px;
    border-right: solid #4e4e4e 1px;
  }
  .BookingNoSlotsInternal .BookingNoSlotsInternalTitle {
    color: #4e4e4e;
    font-size: 7vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 9;
    margin-top: 1px;
    margin-bottom: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-bottom: #4e4e4e 2px solid;
  }
  .BookingNoSlotsInternal .BookingNoSlotsParagraph {
    color: #4e4e4e;
    font-size: 4.4vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    margin-top: 2vw;
    margin-bottom: 2vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .BookingNoSlotsInternal .BookingNoSlotsCloseButton {
    background-color: #4e4e4e;
    color: #e4cde4;
    border: none;
    font-size: 5.5vw;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 8;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: auto;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    z-index: 4;
  }
  .BookingNoSlotsInternal .BookingNoSlotsCloseButton:hover {
    background-color: #c7b8c7;
    color: #585858;
    -webkit-box-shadow: 0px 0px 6px 6px #c7b8c7;
            box-shadow: 0px 0px 6px 6px #c7b8c7;
  }
  .BookingThankYouInternal {
    font-family: myNeonFont;
    height: 20vw;
    text-align: center;
    display: -ms-grid;
    display: grid;
    width: auto;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    z-index: 5;
    border-left: solid #4e4e4e 2px;
    border-right: solid #4e4e4e 2px;
  }
  .BookingThankYouInternal .BookingThankYouInternalTitle {
    color: #4e4e4e;
    font-size: 4vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 8;
    margin-top: 1px;
    margin-bottom: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-bottom: #4e4e4e 2px solid;
  }
  .BookingThankYouInternal .BookingThankYouInternalParagraph {
    color: #4e4e4e;
    font-size: 2.3vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 9;
    margin-top: 2vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .BookingThankYouInternal .BookingThankYouCloseButton {
    background-color: #4e4e4e;
    color: #e4cde4;
    border: none;
    font-size: 2.3vw;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: auto;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    z-index: 4;
  }
  .BookingThankYouInternal .BookingThankYouCloseButton:hover {
    background-color: #c7b8c7;
    color: #585858;
    -webkit-box-shadow: 0px 0px 6px 6px #c7b8c7;
            box-shadow: 0px 0px 6px 6px #c7b8c7;
  }
}

@media screen and (min-width: 501px) {
  .AppSub {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[13];
        grid-template-rows: repeat(13, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    background-image: url("./images/pexels-negative-space-34650.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    z-index: 1;
  }
  .Overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 12;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    z-index: 2;
  }
  .TopThird {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    z-index: 3;
  }
  .TopThird .Logo {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    z-index: 2;
  }
  .TopThird .Logo .LogoText {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    font-family: myNeonFont;
    font-size: 8vw;
    color: #e4cde4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Logo .LogoText:hover {
    opacity: 0.6;
  }
  .TopThird .Nav {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 6;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    z-index: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .TopThird .Nav .NavText {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
    font-family: myNeonFont;
    font-size: 4.8vw;
    color: #e4cde4;
    padding-top: 12px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .TopThird .Nav .NavText .menu {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Nav .NavText .menu:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .book {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 15px;
  }
  .TopThird .Nav .NavText .book:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .rewards {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-right: 15px;
  }
  .TopThird .Nav .NavText .rewards:hover {
    opacity: 0.6;
  }
  .TopThird .Nav .NavText .contact {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .TopThird .Nav .NavText .contact:hover {
    opacity: 0.6;
  }
  .TopThird .Call {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    z-index: 3;
  }
  .TopThird .Call .Call-button {
    background-color: #e4cde4;
    height: auto;
    width: auto;
    font-family: myNeonFont;
    font-size: 4vw;
    color: #4e4e4e;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    z-index: 4;
  }
  .TopThird .Call .Call-button:hover {
    background-color: #4e4e4e;
    color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #4e4e4e;
            box-shadow: 0px 0px 6px 6px #4e4e4e;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: #4e4e4e;
    -webkit-box-shadow: 0 0 0px 1000px #e4cde4 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  .MiddleThird {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 12;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .MiddleThird .CenterPanel {
    height: auto;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 7;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 19;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    z-index: 2;
  }
  .MiddleThird .CenterPanel .Booking {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    background-color: #e4cde4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10;
        grid-template-columns: 10;
    -ms-grid-rows: 10;
        grid-template-rows: 10;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: myNeonFont;
    font-size: 10vw;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal {
    height: 96%;
    width: 98%;
    background-color: #e4cde4;
    border: 2px solid #4e4e4e;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    line-height: 10px;
    padding: 0px;
    margin: 0px;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-gap: 0px;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-first-paragraph {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 7vw;
    text-decoration: underline;
    color: #4e4e4e;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-second-paragraph {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3vw;
    color: #4e4e4e;
    margin-top: 1.5vw;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-button {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    display: -ms-grid;
    display: grid;
    background-color: #4e4e4e;
    border-radius: 2px;
    font-size: 2.8vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  }
  .MiddleThird .CenterPanel .Booking .Booking-internal .Booking-internal-button:hover {
    color: #4e4e4e;
    background-color: #c7b8c7;
  }
  .MiddleThird .CenterPanel .Menu {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    background-image: url("./images/platter-2009590_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .MiddleThird .CenterPanel .Menu:hover {
    opacity: 0.8;
    color: #fff0ff;
  }
  .MiddleThird .CenterPanel .Menu .Menu-text {
    font-size: 5vw;
    color: #e4cde4;
    font-family: myNeonFont;
    z-index: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
  }
  .MiddleThird .CenterPanel .Menu .Menu-overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    background-color: black;
    z-index: 1;
    opacity: 0.45;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .MiddleThird .CenterPanel .Menu .Menu-overlay:hover {
    opacity: 0.6;
  }
  .MiddleThird .CenterPanel .Rewards {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 7;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    background-image: url("./images/morning-819362.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .MiddleThird .CenterPanel .Rewards:hover {
    opacity: 0.8;
    color: #fff0ff;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-text {
    font-size: 5vw;
    color: #e4cde4;
    font-family: myNeonFont;
    z-index: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-overlay {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    background-color: black;
    z-index: 1;
    opacity: 0.45;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .MiddleThird .CenterPanel .Rewards .Rewards-overlay:hover {
    opacity: 0.6;
  }
  .BottomThird {
    -ms-grid-row: 12;
        grid-row-start: 12;
    grid-row-end: 14;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(200px, auto);
    color: #e4cde4;
  }
  .BottomThird .Signup {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 20;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    font-family: myNeonFont;
    font-size: 3vw;
  }
  .BottomThird .Signup .Signup-button {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 8;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Signup .Signup-button:hover {
    opacity: 0.6;
  }
  .BottomThird .Signup .Signup-careers {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 14;
        grid-column-start: 14;
    grid-column-end: 17;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Signup .Signup-careers:hover {
    opacity: 0.6;
  }
  .BottomThird .Socials {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 20;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    font-family: myNeonFont;
    font-size: 3vw;
  }
  .BottomThird .Socials .Socials-twitter {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Socials .Socials-twitter:hover {
    opacity: 0.6;
  }
  .BottomThird .Socials .Socials-instagram {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 10;
        grid-column-start: 10;
    grid-column-end: 12;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Socials .Socials-instagram:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 16;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    font-family: myNeonFont;
    font-size: 2.5vw;
  }
  .BottomThird .Terms .Terms-cookies {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-cookies:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-conditions {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-conditions:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-privacy {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-privacy:hover {
    opacity: 0.6;
  }
  .BottomThird .Terms .Terms-info {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.8vw;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .BottomThird .Terms .Terms-info:hover {
    opacity: 0.6;
  }
}

@media screen and (min-width: 501px) {
  .bookingComponentForm {
    font-family: myNeonFont;
    font-size: 2.3vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 13;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 12;
    -ms-grid-columns: (6vw)[12];
        grid-template-columns: repeat(12, 6vw);
    -ms-grid-rows: (5.2vw)[8];
        grid-template-rows: repeat(8, 5.2vw);
  }
  .bookingComponentForm .BookingModalButton {
    background-color: #585858;
    border: none;
    color: #e4cde4;
    margin-top: 1vw;
    margin-left: 0.2vw;
    margin-bottom: 1vw;
    border-radius: 3px;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    text-align: center;
    vertical-align: middle;
    font-family: myNeonFont;
    width: 5vw;
    height: 3vw;
    font-size: 2.2vw;
    padding: 0.1vw;
  }
  .bookingComponentForm .BookingModalButton:hover {
    color: #585858;
    background-color: #c7b8c7;
    -webkit-box-shadow: 0px 0px 6px 6px #c7b8c7;
            box-shadow: 0px 0px 6px 6px #c7b8c7;
  }
  .bookingComponentForm .entryFieldEmail {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 12;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .bookingComponentForm .entryFieldName {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 12;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    width: auto;
  }
  .bookingComponentForm .entryFieldComments {
    margin-bottom: -10px;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 12;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
  }
  .bookingComponentForm .entryFieldSlots {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
  }
  .bookingComponentForm .BookingSubmitButton {
    margin-top: 1.6vw;
    display: -ms-grid;
    display: grid;
    background-color: #585858;
    border: none;
    color: #e4cde4;
    border-radius: 3px;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -0.8vw;
    font-family: myNeonFont;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 9;
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 8;
    font-family: myNeonFont;
    width: auto;
    height: 5vw;
  }
  .bookingComponentForm .BookingSubmitButton:hover {
    color: #4e4e4e;
    background-color: #e4cde4;
    -webkit-box-shadow: 0px 0px 6px 6px #e4cde4;
            box-shadow: 0px 0px 6px 6px #e4cde4;
  }
  .bookingComponentForm .BookingSubmitButtonButton {
    color: #e4cde4;
    background-color: #4e4e4e;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    border: none;
    font-size: 3vw;
    padding: 0.1vw;
  }
  .bookingComponentForm .BookingSubmitButtonButton:hover {
    color: #4e4e4e;
    background-color: #c7b8c7;
    -webkit-box-shadow: 0px 0px 6px 6px #c7b8c7;
            box-shadow: 0px 0px 6px 6px #c7b8c7;
  }
  .bookingComponentForm .form-control {
    font-size: 2vw;
  }
  .bookingComponentForm .custom-select {
    font-size: 1.8vw;
    margin-top: 0px;
  }
  .bookingComponentForm .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .bookingComponentForm .form-control {
    padding: 0x;
  }
  .BookingNoSlotsInternal {
    font-family: myNeonFont;
    height: 20vw;
    text-align: center;
    display: -ms-grid;
    display: grid;
    width: auto;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vw;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    z-index: 5;
    border-left: solid #4e4e4e 2px;
    border-right: solid #4e4e4e 2px;
  }
  .BookingNoSlotsInternal .BookingNoSlotsInternalTitle {
    color: #4e4e4e;
    font-size: 4vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 8;
    margin-top: 1px;
    margin-bottom: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-bottom: #4e4e4e 2px solid;
  }
  .BookingNoSlotsInternal .BookingNoSlotsParagraph {
    color: #4e4e4e;
    font-size: 2.3vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 9;
    margin-top: 2vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .BookingNoSlotsInternal .BookingNoSlotsCloseButton {
    background-color: #4e4e4e;
    color: #e4cde4;
    border: none;
    font-size: 2.3vw;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: auto;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    z-index: 4;
  }
  .BookingNoSlotsInternal .BookingNoSlotsCloseButton:hover {
    background-color: #c7b8c7;
    color: #585858;
    -webkit-box-shadow: 0px 0px 6px 6px #c7b8c7;
            box-shadow: 0px 0px 6px 6px #c7b8c7;
  }
  .BookingThankYouInternal {
    font-family: myNeonFont;
    height: 20vw;
    text-align: center;
    display: -ms-grid;
    display: grid;
    width: auto;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    z-index: 5;
    border-left: solid #4e4e4e 2px;
    border-right: solid #4e4e4e 2px;
  }
  .BookingThankYouInternal .BookingThankYouInternalTitle {
    color: #4e4e4e;
    font-size: 4vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 8;
    margin-top: 1px;
    margin-bottom: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-bottom: #4e4e4e 2px solid;
  }
  .BookingThankYouInternal .BookingThankYouInternalParagraph {
    color: #4e4e4e;
    font-size: 2.3vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 9;
    margin-top: 2vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .BookingThankYouInternal .BookingThankYouCloseButton {
    background-color: #4e4e4e;
    color: #e4cde4;
    border: none;
    font-size: 2.3vw;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    margin-bottom: 20px;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: auto;
    -webkit-box-shadow: 0px 0px 2px 1px #e4cde4;
            box-shadow: 0px 0px 2px 1px #e4cde4;
    -webkit-transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, -webkit-box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s;
    transition: color 0.6s, background-color 0.6s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding-left: 0.3vw;
    padding-right: 0.2vw;
    z-index: 4;
  }
  .BookingThankYouInternal .BookingThankYouCloseButton:hover {
    background-color: #c7b8c7;
    color: #585858;
    -webkit-box-shadow: 0px 0px 6px 6px #c7b8c7;
            box-shadow: 0px 0px 6px 6px #c7b8c7;
  }
}
/*# sourceMappingURL=AppSub.css.map */