
$siteWhite: rgb(228, 205, 228);
$siteWhite2: rgb(199, 184, 199);
$siteWhiteBright:  rgb(255, 240, 255);
$siteContrast: rgb(78, 78, 78);
$siteContrast2: rgb(88, 88, 88);

.CookiesComponentContent{

    a{
        color: $siteContrast2;
        text-decoration: none;
    }

body{
    padding: 0px !important;
}




@font-face {
    font-family: myNeonFont;
    src: url("./cafe.ttf") format("truetype");
}

@mixin myMixin(){
    background-color: black;
    z-index: 1;
    opacity: 30%;
}

$siteWhite: rgb(228, 205, 228);
$siteWhite2: rgb(199, 184, 199);
$siteWhiteBright:  rgb(255, 240, 255);
$siteContrast: rgb(78, 78, 78);
$siteContrast2: rgb(88, 88, 88);

html{
    background-color: $siteWhiteBright;
}


body{
    line-height: 1;
}











































    display: grid;
    grid-template-rows: repeat(5, 25vw);
    grid-template-columns: repeat(5, 20vw);


    .CookiesTopThird{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 6;
        width: auto;
        display: grid;
        background-color: $siteWhiteBright;
        grid-template-rows: repeat(6, 120px);
        grid-template-columns: repeat(6, 1fr);

        z-index: 3;




        .Logo{        

            grid-row-start: 1;
            grid-row-end:   6;
            grid-column-start: 1;
            grid-column-end:   4;
            justify-content: center;
            align-content: center;
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: repeat(8, 1fr);
            z-index: 2;        
        

            .LogoText{
                grid-row-start: 2;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 4;
                font-family: myNeonFont;
                font-size: 8vw;
                color: $siteContrast;
                transition: opacity 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }
    }









        .Nav{
            grid-row-start: 1;
            grid-row-end:   6;
            grid-column-start: 3;
            grid-column-end:   7;
            z-index: 2;


            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(8, 1fr);
            justify-content: center;
            align-content: center;


            .NavText{
                grid-row-start: 2;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 8;


                font-family: myNeonFont;
                font-size: 4.8vw;
                color: $siteWhite;

                padding-top: 12px;

                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;

                .menu{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    transition: opacity 0.2s;
                    margin-right: 10px;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .book{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    transition: opacity 0.2s;
                    margin-right: 15px;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .rewards{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 3;
                    grid-column-end: 4;
                    transition: opacity 0.2s;
                    margin-right: 15px;
                    &:hover{
                        opacity: 0.6;
                    }
                }

                .contact{
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 4;
                    grid-column-end: 5;
                    transition: opacity 0.2s;
                    &:hover{
                        opacity: 0.6;
                    }
                }



            }
        }
 
    

        
            
            

            
            
}






    .CookiesBottomTwoThirds{

        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 6;
        background-color: red;
        color: red;
    }






}