@font-face {
  font-family: myNeonFont;
  src: url("../cafe.ttf") format("truetype");
}

.PopupMenu {
  font-family: myNeonFont;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 13;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-row-end: 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  background-color: #e4cde4;
  color: #4e4e4e;
  z-index: 1;
}

.PopupMenu .PopupMenu-title {
  font-size: 6.6vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  border-bottom: 2px solid;
}

.PopupMenu .PopupMenu-close {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.PopupMenu .PopupMenu-close .PopupMenu-close-text {
  background-color: #4e4e4e;
  color: #e4cde4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.2vw;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.PopupMenu .PopupMenu-starters {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
  border-left: 2px solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.PopupMenu .PopupMenu-starters .PopupMenu-starters-title {
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  border-bottom: 2px solid;
}

.PopupMenu .PopupMenu-starters .PopupMenu-starters-text {
  font-size: 2.8vw;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin-top: 1vw;
}

.PopupMenu .PopupMenu-mains {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
  border-left: 2px solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.PopupMenu .PopupMenu-mains .PopupMenu-mains-title {
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  border-bottom: 2px solid;
}

.PopupMenu .PopupMenu-mains .PopupMenu-mains-text {
  font-size: 2.8vw;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin-top: 1vw;
}

.PopupMenu .PopupMenu-desserts {
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 8;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
  border-left: 2px solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.PopupMenu .PopupMenu-desserts .PopupMenu-desserts-title {
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  border-bottom: 2px solid;
}

.PopupMenu .PopupMenu-desserts .PopupMenu-desserts-text {
  font-size: 2.8vw;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin-top: 1vw;
}

.PopupMenu .PopupMenu-beers {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 12;
  border-right: 2px solid;
}

.PopupMenu .PopupMenu-beers .PopupMenu-beers-title {
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  border-bottom: 2px solid;
}

.PopupMenu .PopupMenu-beers .PopupMenu-beers-text {
  font-size: 2.8vw;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin-top: 1vw;
}

.PopupMenu .PopupMenu-wines {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 12;
  border-right: 2px solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.PopupMenu .PopupMenu-wines .PopupMenu-wines-title {
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  border-bottom: 2px solid;
}

.PopupMenu .PopupMenu-wines .PopupMenu-wines-text {
  font-size: 2.8vw;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin-top: 1vw;
}

.PopupMenu .PopupMenu-cocktails {
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 8;
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 12;
  border-right: 2px solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.PopupMenu .PopupMenu-cocktails .PopupMenu-cocktails-title {
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  border-bottom: 2px solid;
}

.PopupMenu .PopupMenu-cocktails .PopupMenu-cocktails-text {
  font-size: 2.8vw;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin-top: 1vw;
}

.PopupMenu .PopupMenu-hotdrinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row: 8;
      grid-row-start: 8;
  grid-row-end: 10;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
}

.PopupMenu .PopupMenu-hotdrinks .PopupMenu-hotdrinks-title {
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  border-bottom: 2px solid;
}

.PopupMenu .PopupMenu-hotdrinks .PopupMenu-hotdrinks-text {
  font-size: 2.8vw;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin-top: 1vw;
}
/*# sourceMappingURL=Popups.css.map */